.btn-articles-black {
    background-color: black;
    color: white;
    border-radius: 10px;
    animation: 1s all;
    border: 3px solid white;

    &:hover {
        transform: scale(0.95);
        color: #000;
        background-color: white;
        border: 3px solid black;
        border-bottom: solid 1px red;
    }
}
  
.btn-articles-white {
    background-color: white;
    color: black;
    border-radius: 0px;
    outline: 1px solid white;
    outline-offset: 2px;

    &:hover {
        transform: scale(1.5);
        color: black;
        border: 1px solid #000;
    }
}