.backdrop-articles {
    background-image: linear-gradient(to bottom, rgba(255, 192, 203, 0.25), rgba(255, 192, 203, 0));
    background-image: linear-gradient(to top, rgba(255, 192, 203, 0.25), rgba(255, 192, 203, 0));
}
.backdrop-info {
    background-image: linear-gradient(to bottom, rgba(255, 192, 203, 0.25), rgba(255, 192, 203, 0));
    background-image: linear-gradient(to top, rgba(62, 178, 196, .3), rgba(255, 192, 203, 0));
}
.backdrop-danger {
    background-image: linear-gradient(to bottom, rgba(255, 192, 203, 0.25), rgba(255, 192, 203, 0));
    background-image: linear-gradient(to top, rgb(224, 76, 91), rgba(255, 192, 203, 0));
}
.backdrop-primary {
    background-image: linear-gradient(to bottom, rgba(255, 192, 203, 0.25), rgba(255, 192, 203, 0));
    background-image: linear-gradient(to top, rgba(50, 149, 255, .5), rgba(255, 192, 203, 0));
}

.floor-articles {
    background-image: linear-gradient(to bottom, #fff3f5, #000000);
}
.floor-info {
    background-image: linear-gradient(to bottom, rgba(59, 177, 195, .5), #000000);
}
.floor-danger {
    background-image: linear-gradient(to bottom, rgba(224, 76, 90, .5), #000000);
}
.floor-primary {
    background-image: linear-gradient(to bottom, rgba(29, 138, 255, .5), #000000);
}

.slick-container {
    // background-color: #000000;
    width: 100%;
    padding: 20px 30px;
    .slick-slide {
      margin-right: 5px;
      margin-left: 5px;
      padding: 20px;
      padding-bottom: 5px;
      background-color: white;
      box-shadow: 0px 0px 5px 5px #eeeeee;
      perspective: 1000px;
      border-radius: 10px;
      margin-top: 10px;
  
      transition: transform 0.8s;
      transform-style: preserve-3d;
      &.flip {
        transform: rotateY(180deg);
      }
    }
}

.menu-catalog {
    position: rlative;
    .details-select {
        &:hover {
            text-decoration: underline;
        }
    }
    &-item {
        display: flex;
        flex-direction: column;
        position: relative;
        backface-visibility: hidden;
        &-back {
           position: absolute;
           top: 0px;
           left: 0px;
           width: 100%;
           transform: rotateY(180deg);
           // padding: 0px 1rem;
           text-align: center;
           backface-visibility: hidden;
            .hide-banner {
                position: absolute;
                border-radius: 10px;
                top: 0px;
                left: 0px;
                width: 50px;
                height: 20px;
                background-color: white;
                width: 100%;
            }
        }

        &-number {
             color: black;
            position: absolute;
            top: 30%;
            font-size: 3rem;
            font-family: forte;
            right: 50%;
            transform: translateX(50%);
            backface-visibility: hidden;
        }

        &-photo {
            height: 250px;
            background-color: black;
            position: relative;

            &-experimental {
                margin-top: 220px;
                height: 30px;
                -webkit-clip-path: polygon(25% 85%, 75% 85%, 100% 100%, 0% 100%);
                clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
                backface-visibility: hidden;
                &-background {
                    // background-color: gray;
                    position: absolute;
                    height: 250px;
                    top: 28px;
                    left: 15%;
                    width: 70%;
                    backface-visibility: hidden;
                } 
            }

            &-gallery {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                background-color: black;
                margin-top: 1px;
                padding-right: 2.5px;
                padding-left: 2.5px;
                justify-content: space-around;

                .btn {
                    // flex-grow: 0;
                    background-color: white;
                    color: #000!important;
                    border-radius: 0px;
                    padding: .0rem .4rem;
                    // margin-top: 0px;
                    margin: .2rem 0px;
                    &:hover {
                        background-color: black;
                        color: white;
                    }
                    &:active {
                        background-color: pink;
                        color: black;
                    }
                }
                .active {
                    color: white;
                }
                .btn-articles.active {
                    background-color: pink;
                }
                .btn-info.active {
                    background-color: #17a2b8!important;
                }
                .btn-red.active {
                    background-color: #dc3545;
                }
                .btn-blue.active {
                    background-color: #3295ff;
                }
            }
        }

        button {
            margin-top: 10px;
        }

        &-banner {
            background-color: white;
            position: absolute;
            right: -15px;
            top: -35px;
            border-style: solid;
            padding: 0rem .3rem;
        }
    }
}