.dark-mode {

    // EXP - Background

    // background: url("https://cosmicstudios.xyz/assets/img/backgrounds/bg-scroll.png");
    // -webkit-animation: 100s scroll infinite linear;
    // -moz-animation: 100s scroll infinite linear;
    // -o-animation: 100s scroll infinite linear;
    // -ms-animation: 100s scroll infinite linear;
    // animation: 100s scroll infinite linear;

    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;

    @keyframes scroll {
        100% {
            background-position: 0px -3000px;
        }
    }
    
    @-webkit-keyframes scroll {
        100% {
            background-position: 0px -3000px;
        }
    }

    @-moz-keyframes scroll {
        100% {
            background-position: 0px -3000px;
        }
    }

    // Generic catch all for all scss dark mode styles, mostly should be bootstrap becuase page stuff will be in that pages scss.
    
    .progress {
        background-color: $dark-mode-element-color;
    }

    .badge-light {
        background-color: black;
        color: white;
    }

    .form-control {
        background-color: black;
        color: white;
    }

    .form-group {
        label {
        color: white;
        }
    }

    .form-group input, .form-group select , .form-group textarea, .form-group.articles.articles-switch-container .articles-switch-wrap {
        background-color: black;
        color: white;
    }

    .table-bordered {
        td {
            border: 1px solid rgb(78, 56, 56)!important;
        }
    }

    .table {
        background-color: $dark-mode-card-color!important;
        color: white;

        tr:hover {
        color: pink;
        }
    }

    .card {
        background-color: $dark-mode-card-color;
        color: white;

        .card-header, .card-footer {
            background-color: $dark-mode-card-color;
        }

        .card-body {
            background-color: $dark-mode-element-color;
        }

    }

}