$accent-color: #ffb7b7;
$base-color: #f9edcd;
$menu-color: rgb(243, 243, 243);

$dark-mode-color: #343a40;
$dark-mode-card-color: #141414;
$dark-mode-element-color: #313131;

$story-color: yellow;
$issue-color: rgb(255, 123, 123);
$myth-color: rgb(145, 255, 145);