.admin-orders {
  display: flex;
  
  .side-panel {
    width: 100%;
    background-color: $base-color;
    border-right: 1px solid #000;
    padding: 1rem;

    @include media-breakpoint-up(md) {
      flex-basis: 300px;
      flex-shrink: 0;
      height: calc(100vh - 100px);
    }

    .card {
      border: none;
      box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);

      .card-header {
        background-color: $accent-color;
        font-family: brandon-grotesque, sans-serif;
        font-weight: 900;
        font-style: normal;
        padding: 0.25rem 0.5rem;
        font-size: 1.1rem;
      }

      .card-body {
        font-size: 0.8rem;
      }
    }
  }

  .orders {
    padding: 1rem;
  }
}