.donate-page {
  position: relative;
  font-family: montserrat, sans-serif;
  font-weight: 400;

  .title {
    position: relative;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .form-control {
    border-bottom: 2px solid #000;
  }

  .intro-section {
    position: relative;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 5px #000;

    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      height: 100%;
      width: 100%;
      opacity: 0.15;
    }
  }

  .other-ways-section {
    padding: 5rem 0;
    background-color: white;
    border-bottom: solid 5px #000;
  }

  .join-others-section {
    padding: 5rem 0;
    background-color: lighten($base-color, 0%);
    border-bottom: solid 5px #000;

    .small {
      margin-top: 2rem;
    }

    .others {
      display: flex;
      flex-wrap: wrap;
      margin-left: -0.25rem;
      margin-right: -0.25rem;

      .other {
        font-size: 14px;
        display: flex;
        margin-top: 0.5rem;
        background-color: black;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        padding: 0.2rem 0.2rem;

        .money {
          background-color: white;
          padding: 0.05rem 0.2rem;
        }

        .name {
          margin-left: 0.25rem;
          background-color: white;
          padding: 0.05rem 0.2rem;
        }
      }
    }
  }

  .amount-group {
    display: flex;
  }

  .info {
    padding: 2rem 0.5rem;

    .blur {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      // filter: blur(5px);
    }

    .text {
      position: relative;
    }
  }

  .donate-form {
    position: absolute;
    top: 100px;
    right: 20%;
    z-index: 1;
    height: calc(100% - 100px);
    width: 100%;
    max-width: 400px;
    
    @include media-breakpoint-down(md) {
      position: relative;
      height: auto;
      top: 0;
      width: auto;
      right: 0;
      left: 0;
      margin: 0.5rem;
    }

    .power {
      // position: absolute;
      // left: 50%;
      // top: 0;
      width: 175px;
      display: block;
      margin: 0 auto;
      // transform: translateY(-50%) translateX(-50%);
    }

    .inner {
      background-color: $accent-color;
      position: sticky;
      top: 100px;
      padding: 16px 32px;
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.65);
      margin-bottom: 1rem;
      overflow-x: hidden;

      @include media-breakpoint-down(md) {
        position: relative;
        top: 0;
      }

      .name-plate {
        background-color: white;
        padding: 0.5rem 1rem;
        border-bottom: 3px solid #000;
        margin-bottom: 1rem;

        .date {
          font-size: 14px;
        }

        .name {
          font-family: brandon-grotesque, sans-serif;
          font-style: normal;
          font-weight: 900;
          font-size: 2rem;
        }

        .privacy-pick {
          cursor: pointer;
          margin-top: 0.5rem;
          background-color: rgb(255, 255, 255);
          // box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.65);
          border: solid 1px #000;
          font-size: 12px;
          padding: 0.05rem 0.5rem;
          font-weight: bold;

          &.active {
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.35);
            background-color: lighten($accent-color, 10%);
          }
        }
      }
    }

    .title {
      position: relative;
      font-family: brandon-grotesque, sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      color: white;
      z-index: 1;

      &::after {
        z-index: -10;
        content: '';
        position: absolute;
        top: 0;
        left: -30%;
        // border-radius: 1rem;
        background-color: black;
        width: 300px;
        height: 100%;
      }
    }
  }
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.is-invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.form-row {
  flex-grow: 1;
}

.pay {
  border: none;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  color: #fff;
  background: #32325d;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  float: left;
  // margin-left: 12px;
  margin-top: 0px;
}

.dual-header-pay {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media (min-width: 700px) {
    flex-direction: row;
    margin-top: 32px;
    .pay {
      margin-top: 32px;
      margin-left: 12px;
    }
  }
}