.dark-mode {
  footer.site-footer {
    border-top: 5px solid $base-color;
    background-color: black;
    color: white;
  }
}

footer.site-footer {
  margin-top: auto;
  position: relative;
  // padding: 3rem 0rem;
  background-color: white;
  border-top: 5px solid black;
  height: 100%;
  min-height: 175px;
  display: flex;
  align-items: center;

  .footer-panel {

    .brand {
      font-size: 2rem;
      font-family: forte;
    }

    .title {
      font-family: brandon-grotesque, sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 1rem;
    }

    a {
      display: block;
      font-family: montserrat, sans-serif;
      font-weight: 400;
      font-size: 12px;
    }

    &.first {
      .copyright {
        font-family: montserrat, sans-serif;
        font-weight: 400;
        font-size: 12px;
      }

      @include media-breakpoint-down(md) {
        margin: 1rem 0;
      }
    }

    &.fourth {
      .icons {
        a {
          font-size: 2rem;
          display: inline-block;
        }
      }
    }

    &.fifth {

      .btn {
        font-family: brandon-grotesque, sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 1.5rem;

        @include media-breakpoint-down(xs) {
          font-size: 1rem;
        }
      }
    }
  }
}