$main_colorOne: rgb(238, 117, 127);
$main_colorTwo: rgb(255, 242, 169);
$main_colorOne: $accent-color;
$main_colorTwo: $base-color;

.bg {
  // animation:slide 8s ease-in-out infinite alternate;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 8s;
  background-image: linear-gradient(-60deg, $main_colorOne 50%, $main_colorTwo 50%);
  bottom:0;
  left:-50%;
  opacity:.2;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:8s;
}

.bg3 {
  animation-duration:10s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}