.email-page {
  font-family: montserrat, sans-serif;
  font-weight: 400;

  @import 'landing_background';

  .bg {
    bottom: auto;
    height: 50px;
    border-bottom: solid 2px #000;
  }

  .nav-bar-sticker {
    background-color: hotpink;
    position: absolute;
    z-index: 200;
    top: 0;
    right: 0;
    width: calc(100vw);
    height: 50px;
    &:after {
      z-index: 10000;
      position: absolute;
      top: 0;
      left: 62px;
      content: "";
      background-color: black;
      width: 20px;
      height: 100%;
      clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
    }
  }

  .page-note {
    position: absolute;
    top: 11px;
    left: 120px;
    // width: 200px;
    display: flex;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    align-items: center;
    // padding-top: 15px;
    height: 28px;
    background-color: white;
    z-index: 10000;
  }

  .dashboard {
    background-color: whitesmoke;
    height: calc(100vh - 50px);
    display: flex;
    flex-wrap: wrap;

    .messages {
      width: 400px;
      // flex-grow: 5;
      max-height: 100%;
      overflow-y: scroll;

      .loading-block {
        display: block;
        margin: auto auto;
      }
      
      .current-spotlight {
        background-color: rgba(0, 0, 0, 0.35);
        width: 100%;
        font-size: 1.25rem;
        font-weight: bold;
      }

      .message {
        border-bottom: solid 2px #000;
        display: flex;
        flex-direction: row;
        align-items: center;
        // padding: 1rem;

        .message-photo {
          margin: 1rem;
          width: 50px;
          height: 50px;
          border-radius: 10px;
          background-color: black;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .message-content {

          .message-sender {
            // font-weight: bold;
            font-family: brandon-grotesque, sans-serif;
            font-style: normal;
            font-weight: 900;
          }
        }
      }
    }

    .content {
      flex-grow: 8;
      background-color: rgb(199, 199, 199);

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        width: 100%;
        
        .subject {
          font-weight: bold;
          font-size: 1.25rem;
        }
      }
    }

    > .ad {
      width: 300px;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

  }
}