.order-details {
  margin-top: 1rem;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;

  .orders-card {
    margin-bottom: 1rem;

    .card-header {
      background-color: $base-color;
      font-family: brandon-grotesque, sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 1.2rem;
    }

    .card-body {

      .loading {
        text-align: center;

        .fas {
          @keyframes flip {
            from {
              transform: scaleX(1);
            }
            to {
              transform: scaleX(-1);
            }
          }
          animation: flip 0.25s linear alternate infinite;
        }
      }

      .single-order {
        // background-color: $accent-color;
        &:hover {
          background-color: rgba($accent-color, 0.3);
        }

        .card-body {
          display: flex;
          flex-direction: row;

          @include media-breakpoint-down(md) {
            flex-direction: column;
          }
        }

        .preview {
          width: 140px;
          height: 200px;
          background-color: black;

          @include media-breakpoint-down(md) {
            margin-left: auto;
            margin-right: auto;
          }
        }

        .details {
          padding-left: 0.75rem;
          // width: max-content;
          margin-left: auto;
          margin-right: auto;

          display: grid;
          grid-template-rows: min-content;
          // grid-template-columns: auto auto;
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));;
          gap: 0px 10px;
  
          .item {
            min-width: 500px;
            width: 100%;
            

            .title {
              // font-weight: 900;
              font-family: brandon-grotesque, sans-serif;
              font-style: normal;
              font-weight: 900;
              font-size: 1.2rem;
            }

            .detail {

            }
  
            .left, .right {
              // width: 50%;
              // width: 200px;
              display: inline-block;
            }
  
            .left {
              width: 150px;
              // text-align: right;
              font-weight: bold;
              padding-right: 0.75rem;
            }
  
            .right {
              // text-align: left;
              padding-left: 0.75rem;
              // margin-left: 0.5rem;
              border-left: solid 1px rgba(0, 0, 0, 0.25);
            }
          }
  
          .detail-key {
            font-weight: bold;
            margin-top: 0.5rem;
          }
        }
      }

      

    }

    .card-footer {
      background-color: $base-color;
    }
  }

  .buttons-below {
    .btn {
      width: 100%;
    }
  }

}