@import 'outset_images';

.larger-container {
  overflow-y: hidden;
  max-height: calc(100vh - 50px);
}

.background-images::-webkit-scrollbar { 
  width: 0 !important 
}

.what-i-need {
  position: fixed;
  height: 99%;
  background-color: lightsteelblue;
  width: 20px;
  top: 0px;
  right: 0px;
  transition-duration: 5s;
}

.popper-help-wrap {
  z-index: 2;
  filter: drop-shadow(0px 0px 1px #000);
  animation: blink 0.5s infinite;
  // animation-name: blink;
  // animation-duration: 1s;
  animation-direction: alternate;

  @keyframes blink {
    from {
      filter: drop-shadow(0px 0px 2px #000);
      // padding: 0.5rem;
    }
    to {
      filter: drop-shadow(0px 0px 2px $accent-color);
      // padding: 0.7rem;
    }
  }

  .popper-help {
    clip-path: polygon(8% 0, 100% 0%, 100% 100%, 8% 100%, 8% 70%, 0 74%, 8% 58%);

    background-color: $base-color;
    // box-shadow: 0px 0px 3px black;
    font-size: 1rem;
    padding: 0.5rem;
    padding-left: 25px;
    padding-right: 10px;
    margin-left: 5px;
  
    font-family: OpenSansRegular, Helvetica, sans-serif;
    // font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1rem;
    text-transform: none;
    color: #44555F;
  }

  .left {

  }

  .right {
    
  }

}

.outset-form {
  background-color: #FFFFFF;
  width: 70%;
  height: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 2rem;
  border-top: solid 5px $accent-color;
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
  // overflow: hidden;

  >.row>.col-md-6:first-child {
    border-right: solid 1px #44555F;
    height: 360px;
  }

  .outset-highlight {
    box-shadow: 0px 0px 5px #ffb7b7;
  }

  .intro {
    &-title {
      font-family: brandon-grotesque, Helvetica, sans-serif;
      font-size: 4.5rem;
      font-style: normal;
      font-weight: 900;
      letter-spacing: 8.75px;
      line-height: 6.0rem;
      text-transform: uppercase;
      color: rgb(0, 0, 0);
    }
    &-message {
      margin-top: 15px;
      font-family: OpenSansRegular, Helvetica, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: normal;
      letter-spacing: normal;
      line-height: 36px;
      text-transform: none;
      color: #44555F;
    }
    &-placeholder {
      &-container {
        text-align: center;
      }
      &-text {
        font-family: OpenSansRegular, Helvetica, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        letter-spacing: normal;
        line-height: 36px;
        text-transform: none;
        color: #44555F;
        padding: 0.5rem 1rem;
        border-radius: 0.2rem;
        background-color: $base-color;
        border: solid 1px rgba(68, 85, 95, 0.5);
      }
    }
  }

  .step-count {
    position: absolute;
    top: 0px;
    background-color: rgba(#000, 1);
    color: white;
    right: 0px;
    padding: 0.5rem 3rem;
    clip-path: polygon(100% 0, 100% 100%, 10% 100%, 0 70%, 0 0);
  }
  
  .step-controls {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    // height: 50px;
    button {
      padding: 0.5rem 3rem;
      vertical-align: top;
    }
    button:not(:last-child) {
      margin-right: 0.25rem;
    }
    .dots {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .dot {
        height: 5px;
        width: 20px;
        border-radius: 100px;
        border: solid 0.5px rgba(68, 85, 95, 0.5);
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
      .dot.active {
        background-color: $accent-color;
        border: solid 1px $accent-color;
      }
      .dot.complete {
        background-color: rgba(68, 85, 95, 1);
        border: solid 0.5px rgba(68, 85, 95, 0.5);
      }
    }
    button.step-controls-done {
      padding: 0.5rem 2.8rem;
    }
  }

  .cut-section {

    .cut-container {
      display: flex;
      justify-content: space-between;
      margin-right: -15px;
    }

    .male-sign, .female-sign, .other-sign, .skip-sign {
      background-color: #000;
      color: white;
      height: 70px;
      width: 180px;
      display: inline-block;
      position: relative;
      margin-right: 15px;
      border-radius: 5px;
      cursor: pointer;
      border-top: solid 5px #ffffff;
      box-shadow: 0 1px 3px 1px #000000;

      // I like the collapsed look better for now so just gonna throw these in there
      font-size: 0.75rem;
      height: 60px;
      width: 185px;
      
      &.active {
        border-top: solid 5px #ffb7b7;
        box-shadow: 0 1px 3px 1px #000000;
      }
      &.collapsed {
        font-size: 0.75rem;
        height: 60px;
        width: 185px;
        .shape {
          width: 40px;
          .icon {
            font-size: 1.5rem;
          }
        }
      }
      .shape {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        height: 80%;
        width: 50px;
        border: solid 2px #fff;
        border-radius: inherit;
        .icon {
          // font-size: 2rem;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateY(-50%) translateX(-50%);
          i {
            margin-right: 0px;
          }
        }
      }
      .shape {
        width: 40px;
        .icon {
          font-size: 1.5rem;
        }
      }
      .text {
        padding: 0rem 0rem 0.5rem 0.5rem;
        position: absolute;
        bottom: 0px;
        left: 0px;
      }
    }

    .male-sign {

    }
    .female-sign {

    }
    .skip-sign {

    }

  }

  // Step Two
  .outset-details-scroll {
      overflow-y: scroll;
      height: 360px;
      padding-right: 1rem;
  }
  .shirt-section{
    .small-tag-wrap {
      position: relative;
      filter: drop-shadow(0px 0px 2px rgba(50, 50, 0, 0.5));
      
      .tag {
        cursor: pointer;
        margin-bottom: 1rem;
        display: inline-block;
        // min-height: 64px;
        width: 80px;
        position: relative;
        background: $base-color;
        color: #222;
        padding: 1rem 3rem 1rem 3rem;
        font: bold 16px system-ui;
        clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 30px 100%, 0 50%);
        &.active {
          background: $accent-color;
        }
      }
      .hole {
        position: absolute;
        filter: drop-shadow(0px 0px 1px black);
        width: 10px;
        height: 10px;
        top: 6px;
        left: 12px;
        background-color: #FFFFFF;
        border: inset solid 2px #000;
        border-radius: 100%;
        &.active {
          background: #000;
        }
      }
    }
  
    .tag-wrap {
      position: relative;
      filter: drop-shadow(0px 0px 2px rgba(50, 50, 0, 0.5));
      .tag {
        transform: rotate(45deg);
        cursor: pointer;
        margin-bottom: 1rem;
        display: inline-block;
        // min-height: 64px;
        width: 140px;
        position: relative;
        background: $base-color;
        color: #222;
        padding: 1rem 2rem 1rem 4rem;
        font: bold 16px system-ui;
        clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 30px 100%, 0 50%);
  
        // Have them all eventually rotated at diffrent rates 
        // transform: rotate(10deg);
        &.active {
          background: $accent-color;
        }
      }
      .size {
        transform: rotate(45deg);
      }
      .hole {
        position: absolute;
        filter: drop-shadow(0px 0px 1px black);
        width: 10px;
        height: 10px;
        top: 6px;
        left: 12px;
        background-color: #FFFFFF;
        border: inset solid 2px #000;
        border-radius: 100%;
        &.active {
          background: #000;
        }
      }
    }
  
    .extraShirt {
      display: flex;
      justify-content: space-evenly;
      button {
        background-color: $base-color;
      }
    }

    .clothing-tag-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-right: -1rem;
      // height: 200px;
      // width: 100%;
    }

    .clothing-tag-wrap {
      filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
      margin-bottom: 0.5rem;
      margin-right: 1rem;
      flex-basis: calc(25% - 1rem);
      height: 45px;
      // transform: rotate(15deg);

      .clothing-tag {
        cursor: pointer;
        position: relative;
        clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 30px 100%, 0 50%);
        // width: 100px;
        height: 100%;
        background-color: #ffb7b7;

        .size {
          position: absolute;
          top: 50%;
          left: 55%;
          transform: translateX(-50%) translateY(-50%);
          font: bold 16px system-ui;
        }

        .hole {
          position: absolute;
          top: 50%;
          left: 15%;
          transform: translateX(-50%) translateY(-50%);
          background-color: white;
          border-radius: 50px;
          border: solid 1px rgba(0, 0, 0, 0.25);
          width: 10px;
          height: 10px;
          &.active {
            background-color: black;
          }
        }

      }

      &.input-tag {
        flex-basis: calc(50% - 1rem);
        .clothing-tag {
          .size {
            position: absolute;
            top: 50%;
            left: 22.5%;
            transform: translateY(-50%);
          }
          input {
            width: 50%;
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translateY(-50%);
          }
        }
      }

    }

    
  }

  .shoe-size-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .shoe-size-item {
      cursor: pointer;
      flex-direction: column;
      align-items: center;
      display: flex;
      background: $base-color;
      height: 110px;
      margin-top: 10px;
      width: 85px;
      border: solid 1px #000;
      box-shadow: inset 0 0 0px 5px #ffffff;
      text-align: center;
      &.active {
        box-shadow: inset 0 0 0px 5px $accent-color;
      }
      &:last-child {
        margin-right: 0px;
      }
      .image {
        flex-grow: 1;
        position: relative;
        display: flex;
        img {
          position: absolute;
          bottom: 50%;
          transform: translateY(50%)
        }
      }
      .size {
        font-weight: bold;
        font-family: Forte;
        margin-bottom: 0.5rem;
      }
    }
  }
  // End Step Two

  // Step Three
  .selection-container {
    position: relative;
    background-color: $base-color;
    border-radius: 5px;
    padding: 1rem;
    padding-top: 50px;
    border: solid 1px #000;
    .selection-toolbar {
      position: absolute;
      left: 1px;
      top: 1px;
      width: calc(100% - 1px);
      height: 40px;
      background-color: lighten($base-color, 6%);
      .toolbar-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        height: 40px;
        .toolbar-item {
          cursor: pointer;
          position: relative;
          flex-grow: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          border-right: solid 1px #000;
          border-bottom: solid 1px #000;
          // border-radius: 5px;
          &:first-child {
            border-left: none;
          }
          &:last-child {
            border-right: none;
          }
          .view-track {
            position: absolute;
            top: 2.5px;
            left: 2.5px;
            line-height: 0px;
            // background-color: white;
            // border: solid 2px #000;
            // border-radius: 100px;
            .fa-times {
              color: red;
            }
            .fa-check {
              color: green;
            }
          }
          &.active {
            background-color: $base-color;
            border-bottom: none;
            .tab-icon {
              font-size: 1.5em;
            }
          }
        }

      }
    }
    .selection-content {
      min-height: 280px;
      >.title{
        letter-spacing: 4.75px;
        margin-top: 1.25rem;
        font-size: 1rem;
        line-height: 1rem;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 900;
        font-family: brandon-grotesque, Helvetica, sans-serif;
      }
    }
  }

  .issue-recommendation {
    user-select: none;
    cursor: pointer;
    background-color: white;
    padding: 1rem;
    margin-bottom: 5px;
    position: relative;

    .title {
      font-weight: bold;
      font-size: 1.1rem;
    }

    .description {
      font-size: 0.9rem;
      color: #222;
    }

    .subscribe {
      position: absolute;
      top: 0px;
      right: 10px;
      font-size: 2rem;
      i {
        color: white;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: black;
      }
      &.active {
        i {
          color: $accent-color;
          -webkit-text-stroke-width: 3px;
          -webkit-text-stroke-color: black;
        }
      }
    }

    .tags {
      color: white;
      background-color: #000;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      padding: 0rem 1rem;
      font-size: 0.8rem;
    }

  }
  // End Step Three

  // Step Four
  .politcal-party-card {
    border: solid 1px rgb(70, 70, 70);
    // border-radius: 5px;
    margin: 0.2rem;
    height: 200px;
    width: 150px;
    display: inline-block;
    margin-bottom: 0.5rem;
    position: relative;
    $color: rgb(0, 0, 0);
    z-index: 0;
    box-shadow: 5px 5px rgba($color, 0.4),
              10px 10px rgba($color, 0.3),
              15px 15px rgba($color, 0.2),
              20px 20px rgba($color, 0.1),
              25px 25px rgba($color, 0.05);
    &.active {
      box-shadow: 5px 5px rgba($accent-color, 0.4),
              10px 10px rgba($accent-color, 0.3),
              15px 15px rgba($color, 0.2),
              20px 20px rgba($accent-color, 0.1),
              25px 25px rgba($color, 0.05);
    }
    .name {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding: 0.5rem;
      font-family: brandon-grotesque, Helvetica, sans-serif;
      font-size: 1.0rem;
      font-style: normal;
      font-weight: 900;
      letter-spacing: 2.75px;
      line-height: 1.0rem;
      text-transform: uppercase;
    }
    .full-background {
      z-index: -1;
      position: absolute;
      top: 0%;
      left: 0px;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .image {
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.democratic {
      background-color: rgba(0, 0, 255, 0.25);
      color: white;
      .image {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/US_Democratic_Party_Logo.svg/2000px-US_Democratic_Party_Logo.svg.png');
        height: 50px;
      }
    }
    &.republican {
      background-color: rgba(255, 0, 0, 0.25);
      color: white;
      .image {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Republican_Disc.svg/1200px-Republican_Disc.svg.png');
        height: 50px;
      }
    }
    &.independent {
      color: white;
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
      &:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        background-image: url('https://images-na.ssl-images-amazon.com/images/I/61pHBj6y6HL._SY606_.jpg');
        opacity: 0.15;
        color: white;
        background-size: cover;
        z-index: -1;
      }
      .image {
        background-image: url('https://seeklogo.com/images/U/usa-eagle-logo-253B446A11-seeklogo.com.png');
        height: 50px;
      }
    }
    &.green {
      background-color: rgba(0, 128, 0, 0.25);
      color: white;
      .image {
        filter: drop-shadow(0px 0px 2px #fff);
        background-image: url('https://d3n8a8pro7vhmx.cloudfront.net/gpus/sites/3/meta_images/original/logo.png?1431058230');
        height: 50px;
        background-size: 125px;
      }
    }
    &.libertarian {
      background-color: rgba(255, 255, 0, 0.55);
      color: black;
      overflow: hidden;
      .image {
        filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
        background-image: url('https://lpedia.org/w/images/4/4c/LPLogoC2015.png');
        height: 60px;
      }
    }
    &.constitution {
      background-color: rgba(255, 166, 0, 0.2);
      color: black;
      .name {
        font-size: 1rem;
        letter-spacing: 1.50px;
      }
      .image {
        filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
        background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/d/db/Constitution_Party_%28USA%29_logo.svg/180px-Constitution_Party_%28USA%29_logo.svg.png');
        height: 50px;
      }
    }
    &.reform {
      background-color: rgba(255, 174, 0, 0.25);
      color: white;
      .image {
        background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Reform_Party_of_the_United_States_of_America_logo.png/180px-Reform_Party_of_the_United_States_of_America_logo.png');
        height: 50px;
      }
    }
    &.legal-weed {
      background-color: rgba(0, 128, 0, 0.25);
      color: white;
      .image {
        filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
        background-image: url('https://clipartimage.net/img/1503426321black-cannabis-leaf-png-potleaf-2.png');
        height: 50px;
      }
    }
    &.socialist-equality {
      background-color: rgba(0, 0, 0, 0.35);
      color: white;
      .image {
        background-image: url('https://upload.wikimedia.org/wikipedia/en/f/fe/US_Socialist_Equality_Party_logo.png');
        height: 50px;
      }
    }
    &.justice {
      background-color: rgba(0, 0, 0, 0.05);
      color: white;
      .image {
        background-image: url('https://upload.wikimedia.org/wikipedia/en/3/37/Official_logo_of_the_Justice_Party_%28United_States%29.png');
        width: 50px;
      }
    }
    &.articles {
      background-color: black;
      color: white;
      .image {
        img {
          height: 50px;
        }
      }
    }
  }
  // End Step Four

  .accept-tile-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .accept-tile {
      border: 5px solid rgba(0, 0, 0, 0.5);
      background-color: rgba($base-color, 0.5);
      padding: 0.25rem 1rem;
      margin-bottom: 10px;
    }
  }

  

  .done-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      // max-height: 100%;
      // max-width: 100%;
      // width: auto;
      // height: auto;
      // position: absolute;
      // top: 0;
      // bottom: 0;
      // left: 0;
      // right: 0;
      // margin: auto;
      &:hover {
        // border: solid 2px #000;
      }
    }
    .done-image-credit {
      text-align: left;
      width: 100%;
      max-width: 480px;
      font-weight: bold;
      font-size: 0.8rem;
      background-color: $accent-color;
      color: white;
      padding: 0.25rem 0.5rem;
    }
  }
  
}

@media only screen and (max-width: 576px) {
  .outset-form {
    top: 0%;
    // margin-top: 4rem;
    transform: none;
    margin-top: 1rem;
    // height: calc(100vh - 4rem - 50px);
    height: auto;
    padding-bottom: 5rem;
    margin-bottom: 7rem;
    position: unset;
    margin-left: auto;
    margin-right: auto;
    .intro-title {
      font-size: 2rem;
      letter-spacing: 0.5rem;
      line-height: 2rem;
    }
    .intro-message {
      font-size: 1rem;
    }
    .outset-details-scroll {
      overflow-y: visible;
      height: auto;
      padding-right: 1rem;
    }
    .oddball-explanation {
      font-size: 0.8rem;
    }
    .row > .col-md-6:first-child {
      border-right: none;
      border-bottom: solid 1px rgb(204, 204, 204);
      margin-bottom: 20px;
      height: auto;
    }
    .cut-container {
      flex-direction: column;
      justify-content: center;
      .female-sign, .skip-sign {
        margin-top: 0.75rem;
      }
    }
    .shirt-section {
      .clothing-tag-wrap {
        flex-basis: calc(45%);
        &.input-tag {
          flex-basis: calc(100%);
        }
      }
    }
    .step-controls {
      align-content: center;
      // width: 100%;

      position: fixed;
      background-color: white;
      bottom: 15px;
      padding: 0.5rem;
      border-radius: 5px;
      border-top: solid 2px #000;
      box-shadow: 0px 0px 1px 0px #000;
  
      .buttons {
        display: flex;
        justify-content: center;
      }
      .step-controls-next, .step-controls-back {

      }
    }
  }
}

@media (max-height: 500px) {
  .outset-form {

    .step-controls {
      bottom: 0;
      width: 100%;
      padding: 0.3rem;

      button {
        padding: 0.3rem 3rem;
      }

      .dots {

        .dot {
          height: 2px;
        }
      }
    }
  }
}

// Mobile first am I right?...
@media only screen and (max-width: 1400px) {
  .outset-form {
    width: 90%;
  }
}

@media only screen and (max-width: 1050px) {
  .outset-form {
    width: 95%;
  }
}

// ``````````````````````````OLD````````````````````````````````````````````

.outset-wrapper {
  width: 100%;
  overflow-y: hidden;
  min-height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  background: #FFEFBA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, rgba($accent-color, 0.4), rgba(#FFEFBA, 0.2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .walkthrough-box, .steps-box, .bottom-walthrough {
    padding: 1rem;
    border: solid 2px #000;
    border-radius: 0px;
    max-width: 500px;
  }

  .walkthrough-box-clip-path-hides-box-shadow-work-around {
    transition-duration: 1s;
    position: fixed;
    width: 100%;
    top: 50%;
    left: 0px;
    &.to-top {
      position: fixed;
      z-index: 100;
      width: 100%;
      top: 0px;
      left: 0px;
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
    }
  }

  .walkthrough-box {
    padding: 1rem;
    margin-top: 0rem;
    border-top: solid 2px #000;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0% 100%, 0 80%);
    position: fixed;
    left: 50%;
    width: calc(100% - 30px);
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    z-index: 1;
    background-color: $accent-color;
    transition-duration: 1s;
    &.to-top {
      padding: 0.5rem;
      border-top: solid 0px #000;
      transform: translateX(-50%) translateY(0%);
      top: calc(50px + 0%);
      clip-path: polygon(0 0, 100% 0, 100% 90%, 80% 100%, 20% 100%, 0 90%);
      border-bottom: none;
      padding-bottom: 1.5rem;
    }
    h1 {
      color: black;
      font-family: 'Oswald', sans-serif;
      font-size: 2rem;
      transition-duration: 1s;
      letter-spacing: 1px;
      &.shrink {
        font-size: 0rem;
        margin: 0px;
      }
    }
    h5 {
      color: gray;
    }
    .focus-explanation {
      background-color: white;
      padding: 1rem;
      height: 80px;
      overflow-y: scroll;
      font-size: 0.8rem;
      border-radius: 5px;
      box-shadow: inset 0px 0px 5px #000;
    }
    .debug-id {
      display: none;
      text-align: center;
      color: gray;
      padding: 0.25rem 0rem;
      position: absolute;
      background-color: white;
      bottom: -30px;
      left: 0px;
      height: 40px;
      width: calc(100% + 10px);
      margin-left: -5px;
      border: solid 5px #000;
      box-shadow: 0 4px 5px 0px gray;
      // line-height: 20px;
    }
  }

  .steps-box {
    border-top: none;
    background-color: #FFFFFF;
    position: relative;
    margin-top: 25rem;
    opacity: 0;
    transition-duration: 1s;
    height: 0px;
    pointer-events: none;
    overflow-x: hidden;
    &.show {
      pointer-events: all;
      height: calc(100vh - 50px);
      overflow-y: scroll;
      min-height: 400px;
      opacity: 1;
      margin-top: 6.5rem;
      padding-top: 2rem;
      padding-bottom: 10rem;
    }
  }

  .outset-form-group {
    margin-bottom: 10px;
    .name {
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 15px;
      font-size: 1rem;
    }
    input {
      background-color: $base-color;
      font-size: 1.4rem;
      border-radius: 5px;
      border: none;
      width: 100%;
      padding-left: 1rem;
    }

    .input-guess {
      position: relative;
      width: 100%;
      .input-guess-input {
        width: 100%;
      }

      .input-guess-explanation {
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translateX(-50%) translateY(-50%);
        border: solid 3px #000;
        padding: 0.2rem 1rem;
        background-color: $base-color;
        box-shadow: 1px 1px 0px #000;
        font-size: 1rem;
        font-weight: 700;
        z-index: 1;
        &:hover {
          cursor: pointer;
          .input-guess-explanation-content {
            opacity: 1;
            display: inline;
          }
        }
      }

      .input-guess-explanation-content {
        opacity: 0;
        position: absolute;
        background-color: white;
        border: solid 2px #000;
        top: -20px;
        width: 200px;
        z-index: -1;
      }
    }
  }

  // Step Two
  .shirt-section{
    .small-tag-wrap {
      position: relative;
      filter: drop-shadow(0px 0px 2px rgba(50, 50, 0, 0.5));
      .tag {
        cursor: pointer;
        margin-bottom: 1rem;
        display: inline-block;
        // min-height: 64px;
        width: 80px;
        position: relative;
        background: $base-color;
        color: #222;
        padding: 1rem 3rem 1rem 3rem;
        font: bold 16px system-ui;
        clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 30px 100%, 0 50%);
        &.active {
          background: $accent-color;
        }
      }
      .hole {
        position: absolute;
        filter: drop-shadow(0px 0px 1px black);
        width: 10px;
        height: 10px;
        top: 6px;
        left: 12px;
        background-color: #FFFFFF;
        border: inset solid 2px #000;
        border-radius: 100%;
        &.active {
          background: #000;
        }
      }
    }
  
    .tag-wrap {
      position: relative;
      filter: drop-shadow(0px 0px 2px rgba(50, 50, 0, 0.5));
      .tag {
        cursor: pointer;
        margin-bottom: 1rem;
        display: inline-block;
        // min-height: 64px;
        width: 140px;
        position: relative;
        background: $base-color;
        color: #222;
        padding: 1rem 2rem 1rem 4rem;
        font: bold 16px system-ui;
        clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 30px 100%, 0 50%);
  
        // Have them all eventually rotated at diffrent rates 
        // transform: rotate(10deg);
        &.active {
          background: $accent-color;
        }
      }
      .hole {
        position: absolute;
        filter: drop-shadow(0px 0px 1px black);
        width: 10px;
        height: 10px;
        top: 6px;
        left: 12px;
        background-color: #FFFFFF;
        border: inset solid 2px #000;
        border-radius: 100%;
        &.active {
          background: #000;
        }
      }
    }
  
    .extraShirt {
      display: flex;
      justify-content: space-evenly;
      button {
        background-color: $base-color;
      }
    }
  }

  .shoe-size-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .shoe-size-item {
      cursor: pointer;
      flex-direction: column;
      align-items: center;
      display: flex;
      background: $base-color;
      height: 110px;
      margin-top: 10px;
      width: 85px;
      border: solid 1px #000;
      box-shadow: inset 0 0 0px 5px #ffffff;
      text-align: center;
      &.active {
        box-shadow: inset 0 0 0px 5px $accent-color;
      }
      &:last-child {
        margin-right: 0px;
      }
      .image {
        flex-grow: 1;
        position: relative;
        display: flex;
        img {
          position: absolute;
          bottom: 50%;
          transform: translateY(50%)
        }
      }
      .size {
        font-weight: bold;
        font-family: Forte;
        margin-bottom: 0.5rem;
      }
    }
  }
  // End Step Two

  // Step Three
  .selection-container {
    position: relative;
    background-color: $base-color;
    border-radius: 5px;
    padding: 1rem;
    padding-top: 50px;
    border: solid 1px #000;
    .selection-toolbar {
      position: absolute;
      left: 1px;
      top: 1px;
      width: calc(100% - 1px);
      height: 40px;
      background-color: lighten($base-color, 6%);
      .toolbar-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        height: 40px;
        .toolbar-item {
          position: relative;
          flex-grow: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          border-right: solid 1px #000;
          border-bottom: solid 1px #000;
          // border-radius: 5px;
          &:first-child {
            border-left: none;
          }
          &:last-child {
            border-right: none;
          }
          .view-track {
            position: absolute;
            top: 2.5px;
            left: 2.5px;
            line-height: 0px;
            // background-color: white;
            // border: solid 2px #000;
            // border-radius: 100px;
            .fa-times {
              color: red;
            }
            .fa-check {
              color: green;
            }
          }
          &.active {
            background-color: $base-color;
            border-bottom: none;
          }
        }

      }
    }
    .selection-content {
      
    }
  }

  .issue-recommendation {
    background-color: white;
    padding: 1rem;
    margin-bottom: 5px;
    position: relative;

    .title {
      font-weight: bold;
      font-size: 1.1rem;
    }

    .description {
      font-size: 0.9rem;
      color: #222;
    }

    .subscribe {
      position: absolute;
      top: 0px;
      right: 10px;
      font-size: 2rem;
    }

    .tags {
      color: white;
      background-color: #000;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      padding: 0rem 1rem;
      font-size: 0.8rem;
    }

  }
  // End Step Three

  .bottom-walthrough-container {
    filter: drop-shadow(0px -3px 3px rgba(0, 0, 0, 0.5));
    pointer-events: none;
    position: absolute;
    bottom: 0px;
    width: 100%;

    .bottom-walthrough {
      // position: fixed;
      bottom: 0px;
      pointer-events: none;
      width: 92.7%;
      border-top: none;
      border-bottom: 0px;
      margin-top: -1rem;
      clip-path: polygon(0 15%, 20% 0, 80% 0, 100% 15%, 100% 100%, 0 100%);
      padding-top: 2rem;
      z-index: 1;
      background-color: $accent-color;
      transition-duration: 1s;
      opacity: 0;
      &.show {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}