.subscriptions-page {
  padding: 3rem 0;

  .sub-item {
    margin-top: 0.25rem;
    cursor: pointer;
    border: solid 2px transparent;
    padding: 0.1rem 0.25rem;

    &:hover {
      border: solid 2px black;
    }

    &.subscribe {
      background-color: yellowgreen;
    }

    &.unsubscribe {
      background-color: palevioletred;
    }
  }

  .name-tag {
    display: flex;

    .photo-history {
      width: 200px;
      flex-shrink: 0;

      .photo {
        // width: 200px;
        height: 200px;
        background-color: black;
      }

      .history {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // height: 25px;
        padding: 0.25rem 0;
        border: solid 1px #000;
        font-size: 12px;
      }
      
    }

    .name {
      padding-left: 1rem;
    }

  }

  .subscription-list {

    .submission-item {
      border: solid 1px #000;
      padding: .5rem;
      display: inline-block;
      margin-top: 0.25rem;

      &:hover {
        background-color: black;
        color: white;
      }

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
  
  .list {

    .list-item {

      .btn-articles-light {
        border: solid 1px $accent-color;
        margin: 0.5rem;

        &.un {
          background-color: $base-color;
        }
      }

      &:not(:first-child) {
        margin-top: 0.5rem;
      }
    }
  }

  .loading-filler {
    background-color: black;
  }
}