@font-face {
  font-family: 'Forte';
  src: url('../font/FORTE.TTF') format('truetype');
}

.heading-font {
  // font-family: agenda, sans-serif;
  font-family: forte, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

.store-heading {
  // font-family: agenda, sans-serif;
  font-family: forte, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.subheading-font {
  font-family: agenda, sans-serif;
  font-weight: 400;
  font-style: italic;
  // font-size: 5rem;
}
.top-headline {
  font-family: agenda, sans-serif;
  font-weight: 400;
  // font-style: italic;
  // font-size: 4rem;
  &-cookie {
    animation: bounce 1s ease infinite alternate;
    transform: scale(1);
    margin-left: 350px;
  }
}

.heading {
  font-family: agenda, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
}

.content-heading {
  font-family: agenda, sans-serif;
  font-weight: 201;
  font-style: italic;
  font-size: 5rem;
}

.card-title-new {
  font-family: 'Forte';
  src: url('../font/FORTE.TTF') format('truetype');
  font-size: 2.5rem;
  position: absolute;
  top: -10px;
  left: -10px;

  background-color: #fff;
  color: #000;
  padding: 0px 10px 0px 10px;
  border-radius: 15px;
  border: 2px solid #000;
}

.section-title {
  font-family: 'Merienda One', cursive;
}

.section-roadmap {
  position: relative;
  h2 {
    font-family: 'Merienda One', cursive;
  }
}

footer {
  font-family: 'Merienda One', cursive;
  background-color: #000;
  color: white;
  // height: 90px;
  height: auto;
  border-top: 1px solid #fff;
  // padding: 1rem 1rem;

  a {
    text-decoration: underline;
    color: white;
    padding: 3px 10px;

    &:hover {
      background-color: white;
      color: #000;
    }
  }
}