.content-wrap.dark-mode {

  .playground-page {

  }
}

.playground-page {

    #TutContainer {
        border: 1px solid black;
        position: relative;
        width: 500px;
        height: 500px;
        margin: 0 auto;
    }

}