.admin-presidents {
  .president-item {
    width: 200px;
    margin: 0.5rem;
  }
}

.president-item {
  position: relative;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  padding: 0.25rem;
  height: 100%;

  .elections {
    position: absolute;
    left: -0.25rem;
    top: -0.5rem;

    .badge {
      margin-right: 0.25rem;
    }
  }

  .number {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }

  .name {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1rem;
  }

  .party {
    display: inline-block;
    margin-bottom: 0.5rem;
    width: max-content;

    &.Federalist {
      background-color: #EA9978;
      color: white;
    }

    &.Democratic-Republican {
      background-color: #008000;
      color: white;
    }

    &.National-Republican {
      background: #ffecd7;
    }

    &.Democratic {
      background-color: #3333FF;
      color: white;
    }

    &.Whig {
      background-color: #F0C862;
      color: white;
    }

    &.Republican {
      background-color: #E81B23;
      color: white;
    }

    &.National-Union {
      background-color: #B22222;
      color: white;
    }

  }

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}