.resources-page {
    .card {
        button {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) translateY(50%);
        }
    }

    .book-wrapper {
        height: auto;

        .book {
            $book-icon-scale: 3;

            transform: scale(1);

            position: relative;
            width: calc(280px / #{$book-icon-scale});
            height: calc(420px / #{$book-icon-scale});
            // transform: translate(-50%, -50%);
            // top:50%;
            // left: 50%;
            background: $accent-color;
            border-radius: calc(20px / #{$book-icon-scale}) calc(16px / #{$book-icon-scale})
                calc(12px / #{$book-icon-scale}) calc(32px / #{$book-icon-scale});
            background-image: linear-gradient(
                to right,
                darken($accent-color, 10%) calc(48px / #{$book-icon-scale}),
                $accent-color calc(50px / #{$book-icon-scale}),
                transparent calc(50px / #{$book-icon-scale})
            );
            //box-shadow:  2px 6px 40px 0px #FEA600

            &:after,
            &:before {
                position: absolute;
                content: "";
            }

            &:after {
                height: calc(52px / #{$book-icon-scale});
                width: calc(274px / #{$book-icon-scale});
                bottom: calc(6px / #{$book-icon-scale});
                right: calc(0px / #{$book-icon-scale});
                background: white;
                border-radius: 32px 4px 4px 32px;
                box-shadow: inset 4px 6px 0px 0px #e4e0ce;
                background-image: linear-gradient(
                    to bottom,
                    transparent calc(6px / #{$book-icon-scale}),
                    #e4e0ce calc(8px / #{$book-icon-scale}),
                    transparent calc(8px / #{$book-icon-scale}),
                    transparent calc(12px / #{$book-icon-scale}),
                    #e4e0ce calc(12px / #{$book-icon-scale}),
                    transparent calc(14px / #{$book-icon-scale}),
                    transparent calc(18px / #{$book-icon-scale}),
                    #e4e0ce calc(18px / #{$book-icon-scale}),
                    transparent calc(20px / #{$book-icon-scale}),
                    transparent calc(24px / #{$book-icon-scale}),
                    #e4e0ce calc(24px / #{$book-icon-scale}),
                    transparent calc(26px / #{$book-icon-scale}),
                    transparent calc(30px / #{$book-icon-scale}),
                    #e4e0ce calc(30px / #{$book-icon-scale}),
                    transparent calc(32px / #{$book-icon-scale}),
                    transparent calc(36px / #{$book-icon-scale}),
                    #e4e0ce calc(36px / #{$book-icon-scale}),
                    transparent calc(38px / #{$book-icon-scale}),
                    transparent calc(42px / #{$book-icon-scale}),
                    #e4e0ce calc(42px / #{$book-icon-scale}),
                    transparent calc(44px / #{$book-icon-scale}),
                    transparent calc(48px / #{$book-icon-scale}),
                    #e4e0ce calc(48px / #{$book-icon-scale}),
                    transparent calc(50px / #{$book-icon-scale})
                );
            }

            &:before {
                height: calc(20px / #{$book-icon-scale});
                width: calc(160px / #{$book-icon-scale});
                right: calc(40px / #{$book-icon-scale});
                top: calc(72px / #{$book-icon-scale});
                background: darken($accent-color, 10%);
                border-radius: calc(20px / #{$book-icon-scale});
                box-shadow: 0px calc(36px / #{$book-icon-scale}) darken($accent-color, 10%);
            }
        }
    }
}

.resource-item-page {
    .page-header {
        width: 100%;
        background-color: $accent-color;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 2px 3px rgba(0, 0, 0, 0.2);

        .filter-bar {
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
            background-color: white;
            padding: 1rem;
            border-bottom: 2px solid #000;

            .filter-section {
                margin-bottom: 0.5rem;

                @include media-breakpoint-up(lg) {
                    margin-bottom: 0rem;
                }

                &.search {
                    input {
                        @include media-breakpoint-down(md) {
                            width: 100%;
                        }
                    }
                }

                .label {
                    // padding-top: 0.5rem;
                    padding-bottom: 0.25rem;
                    // padding-left: 0.25rem;
                    font-family: brandon-grotesque, sans-serif;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 1rem;
                }

                button:not(.active) {
                    filter: grayscale(1);
                    color: darkgray !important;
                }
            }
        }

        h1 {
            font-family: brandon-grotesque, sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 2rem;
        }

        p {
            font-family: montserrat, sans-serif;
            font-weight: 400;
            font-size: 22px;
        }
    }
}
